.main-header {
  padding: 5px 25px 20px 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 100; */
}
.search-inp {
  box-shadow: 0px 6px 58px 0px #c4cbd61a;
  background-color: #ffffff;
  padding: 12px 19px;
  height: 48px;
  width: 410px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  color: #7d8592;
}
.main-header .header-right button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 0px 6px 58px 0px #c4cbd61a;
  cursor: pointer;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-right > div {
  height: 48px;
  border-radius: 14px;
  background: white;
  display: flex;
  align-items: center;
}
.ring {
  width: 48px;
  justify-content: center;
  cursor: pointer;
}
.ring img.animate:hover {
  animation: ring-animation 2s ease-in-out;
}

@keyframes ring-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.user {
  padding: 0 12px;
  gap: 11px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
