body {
  margin: 0;
  background: #f8fbff;
}

.calendar-container {
  display: flex;
}

.calendar-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0px;
}

.add-event {
  width: 148px;
  height: 50px;
  background: #006eff;
  border: none;
  padding: 14px 24px;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0px 6px 12px 0px #3f8cff43;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-event span {
  font-size: 24px;
  margin-bottom: 3px;
}
.calendar {
  background: #fff;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  height: 770px;
}

.month-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}

.month-nav span {
  font-weight: bold;
  cursor: pointer;
  color: #3f8cff;
  font-size: 40px;
  margin-bottom: 14px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  color: gray;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: left;
  margin-top: 10px;
}

.days div {
  border: 1px solid #eee;
  min-height: 110px;
  padding: 5px;
  position: relative;
}

.days .empty {
  background: #f9f9f9;
  border: none;
}

.days p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.event {
  font-size: 12px;
  background: #d9eaff;
  padding: 4px 6px;
  border-radius: 6px;
  margin-top: 5px;
}

.event.purple {
  background: #f3e5f5;
  color: #6a1b9a;
}

.event.blue {
  background: #e3f2fd;
  color: #1565c0;
}
