* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar__wrapper {
  display: flex;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar__wrapper::-webkit-scrollbar {
  display: none;
}

.Sidebar a {
  text-decoration: none;
  color: #7d8592;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.Sidebar {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 20px 0px 0px 25px;
  padding: 0px 0px 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 25px; */
  width: 220px;
  /* height: 110vh; */
}

.Sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.Support_wrapper {
  background-color: #f4f9fd;
  border-radius: 20px;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  position: relative;
}

.Support__support_img {
  position: absolute;
  bottom: 100px;
}

.Support_wrapper .support-btn {
  box-shadow: 0px 6px 12px 0px #3f8cff43;
  background-color: #3f8cff;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  position: absolute;
  top: 100px;
  align-items: center;
  cursor: pointer;
}
.sidebar-btns {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
  left: -30px;
}
.sidebar-btns .logout-btn {
  border: none;
  background-color: transparent;
  margin: 70px 0 20px 0;
}

.Support_wrapper button:hover {
  transition: 0.3s ease;
}

.sidebar__path a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 11px 8px;
  width: 170px;
  margin: 0;
  border-radius: 10px;
}
.sidebar__path a:hover {
  background-color: #5997f31e;
  color: #007bffa2;
}
.sidebar__path a.active {
  position: relative;
  color: #007bff;
  background-color: rgba(235, 243, 255, 255);
  transition: 0.5s ease;
}
.sidebar__path a.active::before {
  border: 2px;
  content: "";
  position: absolute;
  right: -26px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #007bff;
  border-radius: 2px;
}

#sidebar__active {
  padding: 11px 8px;
  width: 172px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
}

.sidebar__main__img {
  margin: -15px 0 10px 0;
}
