/* ===== Layout ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-weight: 700;
  font-size: 36px;
}
html,
body,
#root {
  height: 100%;
}
body {
  overflow: hidden;
}
.layout {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background: #f4f9fd;
  align-items: stretch;
  min-height: 100vh;
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}

.layout .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.main {
  flex: 1;
  padding: 20px 20px;
}

.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-track {
  background: #e6edf5;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3f8cff, #ffb27d, #fdc748);
  border-radius: 10px;
  border: 2px solid #e6edf5;
}

.main::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #233862, #ed975d, #e5b137);
}

.main {
  scrollbar-width: thin;
  scrollbar-color: #3f8cff #e6edf5;
}
