/* ===== Layout ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background: #f9fafb;
}
/* .Sidebar {
  overflow-y: scroll;
} */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  /* padding: 1.5rem; */
  gap: 1.5rem;
}
